#windDiv p, #productionDiv p, #consumptionDiv p, #netProductionDiv p, #bufferDiv p, #priceDiv p
, #powerPlant p, #production p, #prosumerDiv p, #totalnetproductionDiv p, #currentPriceDiv p, #blackOutInfoDiv p
, #recommendedPriceDiv p{
	display: inline;
}

h1{
	color: green;
}

body{
	width: 50%;
	margin-left: 50px;
}

#logout {
	margin-top: 30px;
}

#myImg {
	float: right;
	margin-right: 55%;
}

#myManagerImg {
	float: left;
	margin-right: 10px;
}

#submit {
	margin-top: 30px;
}

#profile {
	width: 60%;
	margin-top: 40px;
}

#profile h2 {
	margin-bottom: 10px;
}

#prosumerInfo {
	float: right;
	margin-right: 100px;
	width: 170px;
}

#topOnline {
	margin-top: 0px;
	margin-bottom: 0px;
}

#text {
	width: 300px;
}

#blackOutInfoDiv {
	float: right;
}

